* {
    box-sizing: border-box;
    margin: 0;
  }
  
  :root {
    --primary: ;
    background-image: url(images/backs.jpg  ) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
    --secondery: rgb(250, 133, 234);
    --accent: rgb(250,133,234);
    --text:  white;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: rgba(27, 7, 11, 0.466);
    font-family: Poppins, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: var(--text);
  }
  

  .container {
    padding: 4rem 2rem;
    color: var(--text);
  }
  .hero img{
 
    border-radius: 50%;
    width: 430px;
    height: 430px;
    margin-top: 20%;
    border: 8px solid rgb(250, 133, 234);
  }
  
  .highlighted {
    color: var(--accent);
  }
  
  .hidden {
    display: none;
  }
  
  .btn {
    background-color: var(--accent);
    color: var(--text);
    padding: 0.5rem 3rem;
    border-radius: 5rem;
    display: inline-block;
    margin-top: 2rem;
    border: 2px solid var(--accent);
  }
  
  .btn:hover {
    background-color: transparent;
    color: var(--accent);
  }
/* Header style */
.nav {
    background-image: url(images/HD-wallpaper-pink-smoke-black-pink-smoke.jpg);
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: fixed;
    width: 100%;
  }
  
  .logo {
    font-weight: 600;
    font-size: 3rem;
  }
  
  
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    width: 100%;
    left: -200%;
    padding: 1rem;
    transition: left 0.5s ease;
  }
  
  .nav-active {
    left: 0;
  }
  
  .nav-item {
    font-size: 1.3rem;
    opacity: 0.7;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    position: relative;
  }
  
  .nav-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(56, 56, 56);
    margin-top: 0.5rem;
  }
  
  .nav-item:hover {
    opacity: 1;
  }
  
  .nav-item-active::after {
    background-color: ;
    opacity: 1;
  }
  
  .toggler .line {
    width: 30px;
    height: 2px;
    display: block;
    background-color: var(--text);
      margin: 5px;
  }  
  
  
  .hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: var(--text);
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  p{
    font-size: 22px;
  }
  .hero-info {
    text-align: center;
    padding-top: 3rem;
  }
  .animated-text{
    position: relative;
    height: 70px;
    overflow: hidden;
  }
  
  .animated-text h1{
    color: white;
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
  }
  
  .animated-text h1:nth-child(1){
    animation: text-move 6s infinite;
  }
  
  @keyframes text-move{
    0%{
      margin-top: 0;
    }
    25%{
      margin-top: -70px;
    }
    50%{
      margin-top: -140px;
    }
    75%{
      margin-top: -70px;
    }
    100%{
      margin-top: 0;
    }
  }
  
  
  .title {
    font-size: 2.5rem;
  }
  
  .hero-description {
    opacity: 0.7;
  }
  .hero img{
 
    border-radius: 60%;
    width: 430px;
    height: 430px;
    margin-top: 20%;
    border: 5px solid black;
    box-shadow: 0 .7rem 1rem rgb(255, 112, 255);
  }
/* About section styles */
.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  float: left;
  border-radius: ;
  margin-right: 30px;
  border: 5px solid black ;
  box-shadow: 0.5rem 1rem #fff;
  box-shadow: 0 .5rem 1rem rgb(255, 112, 255);
  
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-top: 40px;
  
}

.about .about-content .right p{
  text-align: justify;
  font-size: 25px;

}


 /* education section styles */
.education { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: column; 
	margin: 4.8rem 0; 
	padding: 0 5rem; 
} 

.my-row { 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	margin: 2rem 0; 
} 

.my-row .my-col { 
	text-align: center; 
	width: 32%; 
} 

.my-card { 
	text-align: center; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	border-radius: 20px; 
	background-color: rgb(151, 23, 102); 
	padding: 1rem; 
  box-shadow: 0 .5rem 1rem rgb(255, 112, 255);
  border: 4px solid black;
} 

.icon { 
	height: 100px; 
	width: 100px; 
	border-radius: 50%; 
	background-color: #363D73; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
} 

.icon svg { 
	font-size: 30px; 
	color: #fff; 
} 
.education img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.education p{
  font-size: 18px;
}

.timeline-items{
  max-width: 1000px ;
  margin: auto ;
  display: flex ;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before{
  content: "" ;
  position: absolute ;
  width: 5px ;
  height: 100% ;
  background-color: var(--secondary) ;
  left: calc(50% -1px) ;
}

.timeline-content{
  background-color: var(--secondary) ;
  border: 3px solid var(--primary);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px rgb(253, 68, 222);
  cursor: pointer ;
  transition: 0.3 ease-in-out;
}
.timeline-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--primary);
}


.timeline-item:last-child{

}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right ;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);

}
.hobbies p{
  font-size: 18px;
}
.skills .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 20px;
}

.skills .content .col-left{
  position: relative;
  width: 46%;
}

.skills .content .col-left .content-title{
  margin-bottom: 20px;
}

.skills .content .col-right{
  position: relative;
  width: 46%;
}

.skills .content .col-right .bar{
  margin-bottom: 15px;
  padding: 10px;
}

.skills .content .col-right .bar .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skills .content .col-right .bar .info span{
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.skills .content .col-right .bar .line{
  position: relative;
  width: 100%;
  height: 15px;
  background: #ccc;
  border-radius: 2px;
}

.skills .content .col-right .bar .line:before{
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
}
.skills p{
  font-size: 18px;
}

.skills .content .col-right .bar .html:before{
  width: 95%;
  background: rgb(250,133,234);
}

.skills .content .col-right .bar .css:before{
  width: 90%;
  background: rgb(250, 133, 234);
}

.skills .content .col-right .bar .javascript:before{
  width: 80%;
  background: rgb(250,133,234);
}

.skills .content .col-right .bar .jquery:before{
  width: 80%;
  background: rgb(250, 133, 234);
}

.skills .content .col-right .bar .php:before{
  width: 75%;
  background: rgb(250,133,234);
}




.description {
    opacity: 0.7;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  .secondery-title {
    display: inline-block;
    margin-bottom: 1.5rem;
  }
  
  .secondery-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 0.5rem;
    background-color: var(--accent);
  }

  div.gallery {
    border: 1px solid #ccc;
    box-shadow: 0 .5rem 1rem rgb(255, 112, 255);
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  

/* photo styling*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px;
  width: 400px;
}
.photo .photo-content img{
  border: 3px solid var(--accent)

}
 
 .contact-info-item { 
   display: flex;
  }
  
  .contact-info-icon {
    width: 50px;
    height: 50px;
    background-color: var(--accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    
  }
  
  input,
  textarea {
    background: var(--secondery);
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.8rem 1rem;
  }
  
  .footer {
    color: var(--text);
    text-align: center;
    padding: 2rem 0;
  }
  @media screen and (min-width: 700px) {
    .container {
      padding: 4rem 6rem;
    }
  
    .description {
      font-size: 1rem;
    }
  
    /* grid */
    .grid {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }
  
    .grid-item {
      width: 30%;
    }
  
    /* nav */
    .nav {
      padding-left: 6rem;
      padding-right: 6rem;
      justify-content: space-between;
      align-items: center;
    }
  
    .toggler {
      display: none;
    }
  
    .nav-links {
      position: static;
      flex-direction: row;
      padding: 0;
      width: auto;
    }
  
    .nav-item {
      margin: 0 0.5rem;
    }
  
    .nav-item::after {
      position: absolute;
      top: 30px;
      margin: 0;
      background: none;
    }
  
    .nav-item-active {
      opacity: 1;
    }
  
    .nav-item-active::after {
      background: var(--accent);
    }
  
    /* hero */
    .hero {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .hero-info {
      text-align: left;
    }
  
    .title {
      font-size: 5rem;
    }
  
  
    /* contact */
    .contact {
      display: flex;
      justify-content: space-between;
    }
  
    .contact-form {
      width: 60%;

    }
    
    .submit-btn {
      font-size: 1.5rem;
      
    }
    .contact  a{
      display:inline-block;
      background: var(--accent);
      color: black;
      font-size: 25px;
      padding: 6px 24px;
      margin-top: 20px;
      font-weight: 400;
      border-radius: 6px;
      border: 3px solid black;
      transition: all 0.3s ease;
  }
  }
